<div class="panel panel-default" ng-controller="profileController as vm">
    <div class="panel-body">
        <div class="col-sm-6 col-md-offset-2">
            <div>
                <h2>Profile</h2>
            </div>
            <div ng-form="profile" class="p-3 mb-2">
                <file-upload file="file" fileUpload="fileUpload()" />
                <div class="form-group">
                    <img height="150" onclick="document.getElementById('fileUpload').click()" class="img-div" width="150" SRC={{vm.user.image}}>
                    <span class="img-div fa fa-pencil" style="position: relative;
                    left: -4.9vw;
                    font-size:1.5em;"></span>
                    </img>
                    <label for="pwd">Welcome {{vm.user.userName}}</label>
                </div>

                <div class="form-group">
                    <label for="pwd">First Name:</label>
                    <input type="text" class="form-control" ng-model="vm.user.firstName" required>
                </div>
                <div class="form-group">
                    <label for="pwd">Last Name:</label>
                    <input type="text" class="form-control" ng-model="vm.user.lastName" required>
                </div>
                <div class="form-group">
                    <label for="pwd">Address:</label>
                    <textarea rows="4" class="form-control" ng-model="vm.user.address" />
                </div>
                <div class="form-group">
                    <label>Gender:</label> Male <input type="radio" required ng-checked="vm.user.gender=='M'" name="gender"
                        ng-model="vm.user.gender" value='M' /> Female <input type="radio" ng-checked="vm.user.gender=='F'" name="gender"
                        ng-model="vm.user.gender" value='F' />
                </div>
                <div class="form-group">
                    <button class="btn btn-info" ng-disabled="profile.$pristine || profile.$invalid" ng-click="vm.update()">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>