<div class="panel panel-default" ng-controller="homeController as vm" class="modal-demo">
    <div class="panel-body row-margin-top">
        <h2>Welcome {{vm.logedInUser.userName | capitalize}}</h2>
        <div class="row">
            <div class="col-sm-8 marginAuto">
                <div class="row text-right margin-bottom-10">
                    <div class='row col-sm-4'>
                        <div class="col-sm-5" style="padding:0">
                            <datepicker>
                                <input class="form-control" placeholder="start date" style="width:100%" ng-model="vm.startDate" type="text" />
                            </datepicker>
                        </div>
                        <div class="col-sm-4" style="padding:0">
                            <datepicker>
                                <input class="form-control" style="width:100%" placeholder="end date" ng-model="vm.endDate" type="text" />
                            </datepicker>
                        </div>
                        <div class="col-sm-2" style="padding:0">
                            <button ng-click="vm.getTodosBYStartEndDate()" class="btn btn-outline-info"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input ng-show="vm.filter.key!='categories'" type="text" class="form-control" placeholder="filter" ng-model="vm.filter.value"
                                aria-describedby="btnGroupAddon">
                            <select ng-show="vm.filter.key=='categories'" class="form-control" ng-model="vm.filter.value">
                                <option value=''>select categories</option>
                                <option value='work'>work</option>
                                <option value='personal'>personal</option>
                                <option value='home'>home</option>
                                <option value='other'>other</option>
                            </select>
                            <select class="form-control" ng-model='vm.filter.key'>
                                <option value=''>filter</option>
                                <option value='name'>Name</option>
                                <option value='categories'>Categories</option>
                                <option value='isPublic'>IsPublic</option>
                                <option value='isPending'>IsPending</option>
                                <option value='isCompleted'>IsCompleted</option>
                            </select>
                            <button class="btn btn-info" ng-click="vm.clearFilters()">
                                Clear Filters
                            </button>

                        </div>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-primary" ng-click="vm.addNewTodo()"><i class="fa fa-plus"></i> Add todo</button>
                    </div>
                </div>
                <table ng-if="vm.todos.length>0" class="table table-striped">
                    <tr>
                        <th>Id</th>
                        <th class="cursor-pointer" ng-click="vm.sort('name')">Name
                            <caret order="order" keyname="name" />
                        </th>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Category</th>
                        <th>Picture</th>
                        <th class="cursor-pointer" ng-click="vm.sort('isPublic')">IsPublic
                            <caret order="order" keyname="isPublic" />
                        </th>
                        <th class="cursor-pointer" ng-click="vm.sort('isCompleted')">IsCompleted
                            <caret order="order" keyname="isCompleted" />
                        </th>
                        <th>Actions</th>
                    </tr>
                    <tr ng-repeat="todo in vm.todos | todofilter:vm.filter.key:vm.filter.value | orderBy:order['key']:order[order.key]" list-todo>
                    </tr>
                </table>
                <div ng-if="vm.todos.length==0" class='row text-center'>
                    <div class="col">
                        <p>No Records Found</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-parent">
    </div>
</div>