<div class="panel panel-default" ng-controller="todoController as vm">
    <div class="panel-body">
        <div class="col-sm-6 col-md-offset-2">
            <div ng-form="todo" class="p-3 mb-2">
                <file-upload file="file" fileUpload="fileUpload()" />
                <div class="row text-center">
                    <div class="col">
                        <h3>{{vm.btn.name}}</h3>
                    </div>
                </div>
                <div class="form-group text-center img-div" onclick="document.getElementById('fileUpload').click()">
                    <div class="col">
                        <img height="150" width="150" ng-src="{{vm.todo.pic?vm.todo.pic:'assets/img/noimg.png'}}">
                        </img>
                        <span class="img-div fa fa-pencil pencil-pos"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="pwd">Name: <span style="color:red" ng-if="todo.name.$invalid && todo.name.$dirty">Name cannot be blank</span></label>
                    <input type="text" class="form-control" name="name" ng-model="vm.todo.name" required>
                </div>
                <div class="form-group">
                    <label>Description:</label>
                    <textarea class="form-control" ng-model="vm.todo.description" />
                </div>
                <div class="form-group">
                    <label for="pwd">Date: <span style="color:red" ng-if="todo.date.$invalid && todo.date.$dirty">Date cannot be blank</span></label>
                    <p class="input-group">
                        <datepicker>
                            <input class="form-control" no-input required style="width:100%" ng-model="vm.todo.date" type="text" name="date" />
                        </datepicker>
                    </p>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4">
                        <label for="pwd">Categories: </label>
                    </div>
                    <div class="col-sm-8">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                            <button type="button" ng-class="{'btn btn-primary':vm.addClass('work',vm.todo.categories,'categories')}" ng-click="vm.handleIsReminder('categories','work')">Work</button>
                            <button type="button" ng-class="{'btn btn-primary':vm.addClass('personal',vm.todo.categories,'categories')}" ng-click="vm.handleIsReminder('categories','personal')">Personal</button>
                            <button type="button" ng-class="{'btn btn-primary':vm.addClass('home',vm.todo.categories,'categories')}" ng-click="vm.handleIsReminder('categories','home')">Home</button>
                            <button type="button" ng-class="{'btn btn-primary':vm.addClass('other',vm.todo.categories,'categories')}" ng-click="vm.handleIsReminder('categories','other')">Other</button>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4">
                        <label>isReminder: </label>
                    </div>
                    <div class="col-sm-8">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                            <button type="button" ng-model='vm.todo.isReminder' ng-class="{'btn btn-success':vm.addClass('on',vm.todo.isReminder)}" ng-click="vm.handleIsReminder('isReminder','on')">On</button>
                            <button type="button" ng-model='vm.todo.isReminder' ng-class="{'btn btn-success':vm.addClass('off',vm.todo.isReminder)}"
                                ng-click="vm.handleIsReminder('isReminder','off')">Off</button>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-if="vm.todo.isReminder=='on'">
                    <label for="pwd">Reminder Date:<span style="color:red" ng-if="todo.reqdate.$invalid && todo.reqdate.$dirty">Reminder date cannot be blank</span> </label>
                    <p class="input-group">
                        <datepicker>
                            <input class="form-control" no-input style="width:100%" required name="reqdate" ng-model="vm.todo.reminderDate" type="text"
                            />
                        </datepicker>
                    </p>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4">
                        <label>isPublic: </label>
                    </div>
                    <div class="col-sm-8">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                            <button type="button" ng-class="{'btn btn-success':vm.addClass(true,vm.todo.isPublic)}" ng-click="vm.handleIsReminder('isPublic',true)">True</button>
                            <button type="button" ng-class="{'btn btn-success':vm.addClass(false,vm.todo.isPublic)}" ng-click="vm.handleIsReminder('isPublic',false)">False</button>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-4">
                        <label>isCompleted: </label>
                    </div>
                    <div class="col-sm-8">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                            <button type="button" ng-class="{'btn btn-success':vm.addClass(true,vm.todo.isCompleted)}" ng-click="vm.handleIsReminder('isCompleted',true)">True</button>
                            <button type="button" ng-class="{'btn btn-success':vm.addClass(false,vm.todo.isCompleted)}" ng-click="vm.handleIsReminder('isCompleted',false)">False</button>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <button class="btn btn-info" ng-disabled="todo.$pristine || todo.$invalid" ng-click="vm.addTodo()"><i class={{vm.btn.icon}}></i> {{vm.btn.name}}</button>
                </div>
            </div>
        </div>
    </div>
</div>