<div class="panel panel-default" ng-controller="profileController as vm">
    <div class="panel-body">
        <div class="col-sm-6 col-md-offset-2">
            <div ng-form="profile" class="p-3 mb-2">
                <file-upload file="file" fileUpload="fileUpload()" />
                <div class="row text-center">
                    <div class="col">
                        <h3>Profile</h3>
                    </div>
                </div>
                <div class="form-group img-div"  onclick="document.getElementById('fileUpload').click()">
                    <img height="150" width="150" SRC={{vm.user.image}}>
                    </img>
                    <span class="img-div fa fa-pencil pencil-pos-2"></span>
                    <label for="pwd">Welcome {{vm.user.userName}}</label>
                </div>

                <div class="form-group">
                    <label for="pwd">First Name:<span style="color:red" ng-if="profile.firstname.$invalid && profile.firstname.$dirty">Firstname cannot be blank</span></label>
                    <input type="text" name="firstname" class="form-control" ng-model="vm.user.firstName" required>
                </div>
                <div class="form-group">
                    <label for="pwd">Last Name:<span style="color:red" ng-if="profile.lastname.$invalid && profile.lastname.$dirty">Lastname cannot be blank</span></label>
                    <input type="text" class="form-control" name="lastname" ng-model="vm.user.lastName" required>
                </div>
                <div class="form-group">
                    <label for="pwd">Address:</label>
                    <textarea rows="4" class="form-control" ng-model="vm.user.address" />
                </div>
                <div class="form-group">
                    <label>Gender:</label> Male <input type="radio" required ng-checked="vm.user.gender=='M'" name="gender"
                        ng-model="vm.user.gender" value='M' /> Female <input type="radio" ng-checked="vm.user.gender=='F'" name="gender"
                        ng-model="vm.user.gender" value='F' />
                </div>
                <div class="form-group">
                    <button class="btn btn-info" ng-disabled="profile.$pristine || profile.$invalid" ng-click="vm.update()">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>